<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"  href="/static/style.css"> 
    <script defer src= "/static/script.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class = "title">
            <h1>Hello</h1>
        </div>

        <div class="date">
        <a href="/date/">Date</a>
        <a href="/posts/">Posts</a>
        <a href="/user/">User</a>
        <a href="/comments/">Comments</a>
        <a href="/register/">Registration</a>
        <a href="/login/">login</a>
        </div>

        <div class="description">
        <p>Крутая страница</p>
        </div>
    </div>
</body>
</html>