body{
    background-color: red;
}
.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.b_posts {
    display: flex;
    justify-content: center;
    align-items: center;     
}



.posts {
    margin: 10px; 
    max-width: 600px;
    max-height: 200px;
    background-color: pink;
    border: 1px solid;
    border-color: black;
}

.user{
    color: pink;
}